@import '~@angular/material/theming';
@include mat-core();

// $mdThemingProvider.definePalette('mcgpalette0', {
//   '50': 'e3e8e1',
//   '100': 'b9c7b3',
//   '200': '8ba181',
//   '300': '5d7b4f',
//   '400': '3a5f29',
//   '500': '174303',
//   '600': '143d03',
//   '700': '113402',
//   '800': '0d2c02',
//   '900': '071e01',
//   'A100': '6eff5b',
//   'A200': '41ff28',
//   'A400': '1df400',
//   'A700': '1ada00',
//   'contrastDefaultColor': 'light',
//   'contrastDarkColors': [
//     '50',
//     '100',
//     '200',
//     'A100',
//     'A200',
//     'A400',
//     'A700'
//   ],
//   'contrastLightColors': [
//     '300',
//     '400',
//     '500',
//     '600',
//     '700',
//     '800',
//     '900'
//   ]
// });

$green-palette: (
  50: #e3e8e1,
  100: #b9c7b3,
  200: #8ba181,
  300: #5d7b4f,
  400: #3a5f29,
  500: #174303,
  600: #143d03,
  700: #113402,
  800: #0d2c02,
  900: #071e01,
  A100: #6eff5b,
  A200: #41ff28,
  A400: #1df400,
  A700: #1ada00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$gray-palette: (
  50: #eeeeee,
  100: #d4d5d4,
  200: #b8b9b8,
  300: #9b9d9b,
  400: #858885,
  500: #707370,
  600: #686b68,
  700: #00b4d8,
  800: #535653,
  900: #414341,
  A100: #aaf7aa,
  A200: #7bf27b,
  A400: #3bff3b,
  A700: #22ff22,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$autumn-pallet-main: (
  50: #faf1f1,
  100: #f2dbdb,
  200: #e9c3c4,
  300: #e0abac,
  400: #da999a,
  500: #d38788,
  600: #ce7f80,
  700: #c87475,
  800: #c26a6b,
  900: #b75758,
  A100: #ffffff,
  A200: #ffeaea,
  A400: #ffb7b7,
  A700: #ff9d9e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$autumn-pallet-accent: (
  50: #fbf9f3,
  100: #f4efe2,
  200: #ede4ce,
  300: #e6d9ba,
  400: #e0d1ac,
  500: #dbc99d,
  600: #d7c395,
  700: #d2bc8b,
  800: #cdb581,
  900: #c4a96f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff2d8,
  A700: #ffeabe,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$three-ponds-primary: mat-palette($autumn-pallet-main);
$three-ponds-accent: mat-palette($autumn-pallet-accent);
$three-ponds-warn: mat-palette($mat-red);

$three-ponds-theme: mat-light-theme(
  (
    color: (
      primary: $three-ponds-primary,
      accent: $three-ponds-accent,
      warn: $three-ponds-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($three-ponds-theme);
