// size rem
$minus-two: -0.125rem;
$minus-six: -0.375rem;
$minus-ten: -0.625rem;
$minus-one: -0.063rem;
$minus-five: -0.3rem;
$minus-fourteen: -0.875rem;
$zero: 0rem;
$one: 0.0625rem;
$one-thirty: 8.125rem;
$one-thirty-one: 8.1875rem;
$two: 0.13rem;
$two-dot-five: 0.156rem;
$three: 0.19rem;
$three-dot-two: 0.2rem;
$four: 0.25rem;
$five: 0.3rem;
$six: 0.375rem;
$six-dot-four: 0.4rem;
$seven: 0.4375rem;
$seven-dot-five: 0.469rem;
$eight: 0.5rem;
$ten: 0.625rem;
$eleven: 0.6875rem;
$eleven-dot-two: 0.7rem;
$twelve: 0.75rem;
$twelve-dot-eight: 0.8rem;
$thirteen: 0.8125rem;
$fourteen: 0.875rem;
$fifteen: 0.9375rem;
$sixteen: 1rem;
$seventeen: 1.0625rem;
$eighteen: 1.125rem;
$ninteen: 1.1875rem;
$twenty: 1.25rem;
$twentytwo-dot-four: 1.4rem;
$twenty-one: 1.3rem;
$twenty-two: 1.375rem;
$twenty-three: 1.4375rem;
$twenty-four: 1.5rem;
$twenty-five: 1.5625rem;
$twenty-six: 1.625rem;
$twenty-seven: 1.688rem;
$twenty-eight: 1.75rem;
$thirty: 1.875rem;
$thirty-dot-four: 1.9rem;
$thirty-two: 2rem;
$thirty-three: 2.0625rem;
$thirty-five: 2.1875rem;
$thirty-six: 2.25rem;
$fourty: 2.5rem;
$fourty-two: 2.625rem;
$fourty-five: 2.8125rem;
$fourty-six: 2.875rem;
// 48   3
// 54   3.375
$fourty-eight: 3rem;
$fifty-two: 3.25rem;
$fifty-four: 3.375rem;
$fifty-five: 3.438rem;
$fifty-six: 3.5rem;
$fifty: 3.125rem;
$fifty-one: 3.1625rem;
$sixty: 3.75rem;
$sixty-three: 3.9375rem;
$sixty-four: 4rem;
$sixty-five: 4.0625rem;
$seventy: 4.375rem;
$seventy-one: 4.425rem;
$eighty: 5rem;
$eighty-two: 5.125rem;
$eighty-four: 5.25rem;
$eighty-five: 5.3125rem;
$ninty: 5.625rem;
$ninty-five: -5.9375rem;
$one-hundred-three: 6.438rem;
$hundredseven-dot-two: 6.7rem;
$one-fourty: 8.75rem;
// 68   4.25
// 76   4.75
// 84   5.25
// 92   5.75
// 102  6.375
$one-ten: 6.875rem;
// 112  7
$one-hundred-fifteen: 7.1875rem;
$one-hundred-twenty: 7.5rem;
// 122  7.625
$one-thirty: 8.125rem;
// 132  8.25
$one-hundred-thirty-one: 8.1875rem;
$one-hundred-fourty: 8.75rem;
$one-fifty: 9.375rem;
$one-fifty-four: 9.625rem;
$one-eighty: 11.25rem;
$one-sixty: 10rem;
$six-hundred: 37.5rem;
$twelve-hundred-eighty: 80rem;
$hundred: 6.25rem;
$one-fourty: 8.75rem;
$two-twenty: 13.75rem;
$two-fourty: 15rem;
// 144  9
// 156  9.75
// 168  10.5
$two-sixty-five: 16.5625rem;
$two-eighty: 17.5rem;
$three-hundred: 18.75rem;
$three-fifty: 21.875rem;
$three-eighty-five: 24rem;
$four-eighty: 30rem;
$five-hundred: 31.25rem;
$six-fourty: 40rem;
$nine-twenty-five: 57.8125rem;
$nine-ninty-nine: 62.4375rem;
$two-twentyseven: 14.188rem;
$three-eighty: 23.75rem;
