<ng-container *ngIf="vm$ | async as vm">
  <header>
    <app-toolbar></app-toolbar>
  </header>
  <main>
    <h1>Restoration</h1>
    <mat-accordion *ngIf="vm.showHistory">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="expansion-header">
          <mat-panel-title>
            <b>Your Sessions</b>
          </mat-panel-title>
          <mat-panel-description>
            A history of your restoration sessions
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item class="item" *ngFor="let session of vm.sessions">
            <span>
              {{ session.start.toDate() | date }} - {{ session.projectDesc }} -
              {{ session.restorationTypeDesc }}
            </span>
            <span class="spacer"></span>
            <button
              mat-raised-button
              color="primary"
              (click)="selectSession(session)"
            >
              View Details
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    <div>
      <ng-template [cdkPortalOutlet]="vm.selectedPortal"></ng-template>
    </div>

    <ng-template #startSession>
      <lib-start-session
        (switchPortal)="switchPortal($event)"
      ></lib-start-session>
    </ng-template>
    <ng-template #liveSession>
      <lib-live-session
        (switchPortal)="switchPortal($event)"
        [session]="vm.openSession"
      ></lib-live-session>
    </ng-template>
    <ng-template #sessionDetails>
      <lib-live-session
        (switchPortal)="switchPortal($event)"
        [session]="selectedSession"
      ></lib-live-session>
    </ng-template>

    <button
      mat-stroked-button
      *ngIf="!vm.openSession && vm.selectedPortal !== startSessionPortal"
      (click)="portalService.selectPortal(startSessionPortal)"
    >
      Start New Session
    </button>
    <button
      *ngIf="vm.openSession && vm.selectedPortal !== liveSessionPortal"
      (click)="
        portalService.selectPortal(liveSessionPortal);
        sessionService.selectSession(vm.openSession)
      "
    >
      Continue Session
    </button>
  </main>
</ng-container>
