<ng-container *ngIf="vm$ | async as vm">
  <app-toolbar></app-toolbar>
  <h1>Restoration</h1>
  <section *ngIf="!selectedSession">
    <h3>
      Your Sessions
      <span
        matBadgeOverlap="false"
        matBadge="{{ vm.sessions.length }}"
        matBadgeColor="primary"
      ></span>
    </h3>
    <mat-list>
      <mat-list-item class="item" *ngFor="let session of vm.sessions">
        <span>
          {{ session.start.toDate() | date }} - {{ session.projectDesc }} -
          {{ session.restorationTypeDesc }}
        </span>
        <span class="spacer"></span>
        <button
          *ngIf="
            (vm.openSession && vm.openSession.id !== session.id) ||
            !vm.openSession
          "
          mat-raised-button
          color="primary"
          (click)="setSelectedSession(session)"
        >
          View Details
        </button>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" (click)="startNewSession()">
      {{ vm.openSession ? "Continue" : "Start New Session" }}
    </button>
  </section>
  <lib-start-session *ngIf="newSession"></lib-start-session>
  <lib-live-session *ngIf="vm.openSession"></lib-live-session>
  <lib-session-details *ngIf="selectedSession"></lib-session-details>
</ng-container>
