<ng-container *ngIf="vm$ | async as vm">
  <header>
    <app-toolbar></app-toolbar>
  </header>
  <main>
    <section>
      <ng-template
        *ngIf="vm.selectedPortal"
        [cdkPortalOutlet]="vm.selectedPortal"
      ></ng-template>
    </section>
    <ng-template #dashboard>
      <nav>
        <button
          mat-stroked-button
          [routerLink]="['/user']"
          (click)="portalService.selectPortal(null)"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>Dashboard
        </button>
      </nav>
      <h1>Restoration Sessions</h1>
      <mat-accordion *ngIf="vm.showHistory">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title class="panel-title">
              <mat-icon>history</mat-icon>
              <h3>Session History</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="item" *ngFor="let session of vm.sessions">
              <span>
                {{ session.start.toDate() | date }}
              </span>
              <span class="spacer"></span>
              <button
                mat-raised-button
                color="primary"
                (click)="
                  portalService.selectPortal(detailsPortal);
                  sessionService.selectSession(session)
                "
              >
                View Details
              </button>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
      <p *ngIf="vm.noSessions">
        You have no sessions. Start a new session now:
      </p>
      <button
        mat-raised-button
        color="primary"
        *ngIf="!vm.openSession"
        (click)="portalService.selectPortal(startSessionPortal)"
      >
        Start New Session
      </button>
      <p *ngIf="vm.openSession">
        You have an open session: {{ vm.openSession.start.toDate() | date }} -
        {{ vm.openSession.projectDesc }}
      </p>
      <button
        mat-raised-button
        color="primary"
        *ngIf="vm.openSession"
        (click)="
          portalService.selectPortal(liveSessionPortal);
          sessionService.selectSession(vm.openSession)
        "
      >
        Continue Session
      </button>
    </ng-template>
    <ng-template #startSession>
      <lib-start-session
        (switchPortal)="switchPortal($event)"
      ></lib-start-session>
    </ng-template>
    <ng-template #liveSession>
      <lib-live-session
        (switchPortal)="switchPortal($event)"
        [session]="vm.openSession"
      ></lib-live-session>
    </ng-template>
    <ng-template #sessionDetails> details </ng-template>
  </main>
</ng-container>
