<ng-container *ngIf="auth.user$ | async as user">
  <app-toolbar></app-toolbar>
  <main>
    <h2>Welcome, {{ user.displayName }}</h2>
    <section *ngIf="(userPortals$ | async).length === 0">
      <p>You have no active portals. Please request access to one.</p>
      <lib-portal-picker *ngIf="user" [user]="user"></lib-portal-picker>
    </section>
    <section *ngIf="(userPortals$ | async).length > 0">
      <lib-portal-summary [portals]="portals$ | async"></lib-portal-summary>
    </section>
  </main>
  <footer></footer>
</ng-container>
