<!-- <section class="landing" *ngIf="auth.user$ | async as user; else hero">
  <header>
    <h1>3 Ponds Digital</h1>
    <div class="avatar">
        <img [src]="user.photoURL" />
        <a  (click)="auth.signOut()">Sign Out</a>
    </div>
  </header>
  <main>
    <p>this is the main section.</p>
  </main>
  <footer>This is the footer</footer>

</section>
<ng-template #hero >
  <section class="hero">
    <header>

      <button mat-button (click)="auth.googleSignin()">Sign in</button>
    </header>
    <main>
      <h1>You need an kick ass app.</h1>
      <h2>We can help</h2>
    </main>
  </section>
</ng-template> -->
<ng-container *ngIf="auth.user$ | async as user; else hero">
  <h1>Three Ponds Digital</h1>
  <h2>Coming Soon!</h2>
  <p>Thanks {{user.displayName}}, you'll be hearing from us soon.</p>
  <a mat-raised-button  (click)="auth.signOut()">Sign Out</a>
</ng-container>
<ng-template #hero >
  <h1>Three Ponds Digital</h1>
  <h2>Coming Soon!</h2>
  <button mat-raised-button (click)="auth.googleSignin()">Register/Sign In With Gmail</button>
</ng-template>
