/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Neucha', cursive; background-color: #001d00;
    color: rgba($color: #fff, $alpha: .7);}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}