* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;

  font-family: 'RocknRoll One', sans-serif;
  background-color: #0077b6;
  color: white;
}

.spacer {
  flex-grow: 1;
}

@media (max-width: 600px) {
}

// #03045e
// #0077b6
// #00b4d8
// #90e0ef
// #caf0f8
