* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Teko", cursive;
  background-color: #0d2c02;
  color: rgba($color: white, $alpha: 0.7);
}

.logo {
  color: #fe0000;
  font-family: "Teko", cursive;
  font-size: 36px;
}

.spacer {
  flex-grow: 1;
}
