
 <section class="tools">
    <button mat-button>Sign In</button>
</section>
<section class="hero">
   
    <section class="title">
        <h1>3Ponds Digital</h1>
    </section>
    <p>You need an effective online prescence. Fast. We can help!</p>
    <section class="cards">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Application Development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Enterprise Application Develop made easy. Embed our experts in your team or contract out applications.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Business Portals</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               Pick one of our portals and get started today!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Developer Training</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Tuturiols, best practices, code reviews. Bring your team to the next level.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </section>
</section>
<section class="hero">
    <h1>Application Development</h1>
</section>
<section class="hero">
    <h1>Business Portals</h1>
</section>
<section class="hero">
    <h1>Developer Training</h1>
</section>
<section class="hero">
    <h1>Let's Get Started</h1>
</section>