<header>
  <h1>3Ponds Digital</h1>
  <span class="spacer"></span>
  <button color="accent" mat-raised-button [routerLink]="['/user/login']">
    Log In
  </button>
</header>
<main>
  <section>
    <p>Scroll Up and Down this page to see the parallax scrolling effect.</p>

    <div class="parallax"></div>

    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
    <div>
      Scroll Up and Down this page to see the parallax scrolling effect. This
      div is just here to enable scrolling. Tip: Try to remove the
      background-attachment property to remove the scrolling effect.
    </div>
  </section>
</main>
<footer></footer>
