@import "~scss/screen-size";

:host {
  display: grid;
}

header {
  padding: 32px;
  display: flex;
  background-color: #174303;
  color: white;
  h1 {
    color: white;
  }
}

.main-hero,
.accent-hero,
.action {
  display: flex;
  text-align: center;
}

.main-hero {
  align-items: center;
  justify-content: space-between;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 16px;
    padding: 32px;
  }
}

h1,
h2 {
  color: #174303;
}

.icon {
  font-size: 80px;
  color: #1e88e5;
}
mat-icon {
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: $screen-desktop-min) {
}

@media only screen and (max-width: $screen-mobile-max) {
  :host {
    display: flex;
    flex-direction: column;
  }
  header {
    padding: 16px;
  }
  h1 {
    font-size: 24px;
  }
  .main-hero,
  .accent-hero,
  .action {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media only screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
}

// main {
//   padding: 8px;
//   display: flex;
//   flex-direction: column;
// }

// h1 {
//   font-size: 32px;
// }

// @media (max-width: 600px) {
//   h1 {
//     font-size: 24px;
//   }
// }

// .ripple {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin: auto;
//   height: 200px;
//   width: 200px;
// }

// h1 {
//   color: #113402;
//   position: absolute;
//   font-size: 2.5em;
//   height: 1em;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 2;
//   margin: auto;
//   text-align: center;
//   opacity: 0;
//   animation: appear 2s 2.5s forwards;
// }

// @keyframes appear {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .ripple:before,
// .ripple:after {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   top: 55%;
//   right: 50%;
//   transform: translate(50%) rotateX(75deg);
//   border-radius: 100%;
//   opacity: 0;
//   width: 75%;
//   height: 75%;
//   border: 5px solid skyblue;
//   animation: ripple 2s ease-out 1s;
// }

// .ripple:after {
//   animation: ripple 2s ease-out 1.7s;
// }

// @keyframes ripple {
//   0% {
//     width: 150px;
//     height: 150px;
//   }
//   25% {
//     opacity: 1;
//   }
//   100% {
//     width: 500px;
//     height: 500px;
//     top: -20%;
//     opacity: 0;
//   }
// }
