
 <section class="tools">
  <h1>3Ponds Digital</h1>
    <button mat-button>Sign In</button>
</section>
<section class="hero">
   
    <section class="title">
        <h1>3Ponds Digital</h1>
        <p>Multimedia For The Modern Age</p>
    </section>
    
    <section class="cards">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Application Development</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Enterprise achitecture, design and development for the web, tablet and mobile spaces.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Business Portals</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
               Subscription based services for common business needs. Get started today!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Developer Training</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Tuturiols, best practices, code reviews. Bring your team to the next level.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card>
    </section>
</section>
<section class="hero">
    <h1>Application Development</h1>
    <p>Years of exerience in Enterprise Application Development with a focus on UI/UX and API development.</p>
    <ul>
      <li>Angular 2+</li>
      <li>Typescript</li>
      <li>ES6</li>
      <li>API Development</li>
      <li>Node.Js</li>
      <li>RXJS</li>
      <li>CSS</li>
      <li>Native Apps</li>
    </ul>
    <p>Let us know what you need and we'll make it real.</p>
</section>
<section class="hero">
    <h1>Business Portals</h1>
    <p>Pick from our prexisting apps and join for a monthly fee</p>
    <ul>
      <li>Appointment</li>
      <li>Checklist</li>
      <li>E-Commerce Store</li>
      <li>Restoration Management</li>
    </ul>
</section>
<section class="hero">
    <h1>Developer Training</h1>
    <p>Take your team to another level.</p>
    <ul>
      <li>Tutorial Videos</li>
      <li>Embedded Resources</li>
      <li>Remote Code Reviews</li>
    </ul>
</section>
<section class="form">
  <app-contact-form></app-contact-form>
</section>