@import '~scss/screen-size';

.carousel {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;

  h4 {
    font-size: calc(0.75rem + 1vw);
  }
  .mat-icon {
    font-size: calc(2rem + 4vw);
    width: 100%;
    height: 100%;
    margin: 4px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 16px;
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 32px;
  margin-bottom: 8px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 1000;
}

.ParallaxImage {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 50vh;
}
.ParallaxImage h1 {
  text-align: center;
}
.ParallaxImage h3 {
  font-weight: 700;
  font-size: calc(0.75rem + 2vw);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 32px;
}

.bg1 {
  background-image: url('/assets/images/fall-ground.jpg');
}
.bg2 {
  background-image: url('/assets/images/fall-ground.jpg');
}
.bg3 {
  background-image: url('/assets/images/fall-ground.jpg');
}

/* Content Parallax Section*/
.ParallaxContent {
  background: none repeat scroll 0 0 #745a75;
  padding: 42px 0;
  color: #fff;
}
.ParallaxContent h3 {
  color: #fff;
  text-align: center;
}

/* Video Parallax Section*/
.parallax-video {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 32px;
  text-align: center;
}
.parallax-video video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -9999;
  //background-image: url(/assets/images/water-stream.jpg);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  //   position: fixed;
  //   top: 0;
  left: 0;
}
.parallax-video h3 {
  color: #fff;
  font-size: calc(1rem + 2vw);

  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: $screen-desktop-min) {
  .carousel {
    flex-direction: row;
    display: flex;
  }
  .parallax-video {
    justify-content: center;
    grid-gap: 32px;
    height: 60vh;
  }
}
@media only screen and (min-width: $screen-tablet-min) {
  .carousel {
    flex-direction: row;
    display: flex;
  }
  .parallax-video {
    justify-content: center;
    grid-gap: 32px;
    height: 60vh;
  }
}
