.app-container {
  max-width: 100vw;

  .hero {
    min-height: 90vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../../../assets/images/livestream.png");

    h1,
    h2 {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: max-content;
    }
  }

  .detail {
    min-height: 45vh;
  }

  .hero2 {
    min-height: 90vh;
    background-image: url("../../../../assets/images/live-music.jpg");
  }

  .offer {
    background-color: #111;
    color: rgba($color: white, $alpha: .8);
    max-height: 90vh;
    overflow: hidden;
  }

  #footer {
    min-height: 10vh;
  }
}

.paralax {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%
// }

// .sticky+.toobar {
//   padding-top: 102px;
// }

// .active-banner {
//   background-color: #121212;
//   color: rgba($color: #FFFFFF, $alpha: .87);
// }

// .bgimg-1,
// .bgimg-2,
// .bgimg-3 {
//   position: relative;
//   opacity: 0.65;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

// }

// .bgimg-1 {
//   background-image: url("../../../../assets/images/waterfall.jpg");
//   min-height: 90vh;
// }



// .app-container {


#toolbar {
  min-height: 10vh;
  background-color: #111;
  z-index: 2;
  color: rgba($color: white, $alpha: .8);

  h1 {
    color: #BB86FC;
  }

}

.active-banner {
  background-color: transparent;
}

//   .main-content {

//     padding: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 0;

//     button {
//       max-width: 50%;
//     }


//     h2 {
//       color: #BB86FC;
//     }

//     .spacer {
//       margin-bottom: 16px;
//     }
//   }


// }

// .spacer {
//   flex: 1 1 auto;
// }

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky+.toobar {
  padding-top: 20vh;
}






// .bgimg-1,
// .bgimg-2,
// .bgimg-3 {
//   position: relative;
//   opacity: 0.65;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

// }

// .bgimg-1 {
//   background-image: url("../../../../assets/images/waterfall.jpg");
//   min-height: 90vh;
// }

// .bgimg-2 {
//   background-image: url("../../../../assets/images/img_parallax2.jpg");
//   min-height: 60vh;
// }

// .bgimg-3 {
//   background-image: url("../../../../assets/images/img_parallax3.jpg");
//   min-height: 60vh;
// }


// h3 {
//   letter-spacing: 5px;
//   text-transform: uppercase;
//   font: 20px "Lato", sans-serif;
//   color: #111;
// }

// /* Turn off parallax scrolling for tablets and phones */
// @media only screen and (max-device-width: 1024px) {

//   .bgimg-1,
//   .bgimg-2,
//   .bgimg-3 {
//     background-attachment: scroll;
//   }
// }
