.app-container {
  max-width: 100vw;

  .hero,
  .hero2 {
    min-height: 80vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    h2 {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: max-content;
    }
  }

  .hero {
    background-image: url("../../../../assets/images/livestream.png");
  }

  .detail {
    min-height: 45vh;

  }

  .hero2 {
    background-image: url("../../../../assets/images/live-music.jpg");
  }

  .offer {
    background-color: #111;
    color: rgba($color: white, $alpha: .8);
    max-height: 90vh;
    overflow: hidden;
  }

  #footer {
    min-height: 10vh;
  }
}

.paralax {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

#toolbar {
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.active {}

.static {}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;

  .toolbar {
    background-color: #111;
    color: rgba($color: white, $alpha: .8);
  }
}








// .bgimg-1,
// .bgimg-2,
// .bgimg-3 {
//   position: relative;
//   opacity: 0.65;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;

// }

// .bgimg-1 {
//   background-image: url("../../../../assets/images/waterfall.jpg");
//   min-height: 90vh;
// }

// .bgimg-2 {
//   background-image: url("../../../../assets/images/img_parallax2.jpg");
//   min-height: 60vh;
// }

// .bgimg-3 {
//   background-image: url("../../../../assets/images/img_parallax3.jpg");
//   min-height: 60vh;
// }


// h3 {
//   letter-spacing: 5px;
//   text-transform: uppercase;
//   font: 20px "Lato", sans-serif;
//   color: #111;
// }

// /* Turn off parallax scrolling for tablets and phones */
// @media only screen and (max-device-width: 1024px) {

//   .bgimg-1,
//   .bgimg-2,
//   .bgimg-3 {
//     background-attachment: scroll;
//   }
// }
