<h1>Let's Get Started</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Jamie Doe, etc" autocomplete="off" required formControlName="name">
        <mat-error *ngIf="name.invalid">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required autocomplete="off">
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tell Us About Your Project</mat-label>
        <textarea matInput placeholder="I teach guitar on zoom." formControlName="message" required autocomplete="off"></textarea>
        <mat-error *ngIf="email.invalid">Required</mat-error>
      </mat-form-field>
      <button [disabled]="!contactForm.valid" type="submit" mat-raised-button >Submit</button>
    </form>
