:host {
    background-color: rgba($color: #FFF, $alpha: .8);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 16px;
    padding: 32px;
    button {
        background-color: rgba($color: #000000, $alpha: .2);
        color: white;
    }
}

form {
    display: grid;
    width: 100%;
}

@media (max-width: 600px) {
    :host {
        width: 100%;
        border-radius: 4px;
        padding: 8px;
    }
}

input:-internal-autofill-selected {
    background-color: transparent !important;
}